// Reset 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* IMPORTS */
@import 'fonts.scss';
@import 'variables.scss';

// reusable flex class
.containerFlex{
  display: flex;
}

// General style for card
body{
  font-family: "Outfit";
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-blue;
}

// Card speficic styling
.card{
  background-color: $blue;
  padding: 24px;
  border-radius: 16px;
  width: 100%;
  max-width: 350px;
  height: auto;
}

// Main card image
.equilibriumImage{

  img{
    border-radius: 16px;
    width: 100%;
    height: auto;
  }
  
}

// Main card Title
.cardTitle{
  color: $white;
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0px 22px 0px;
}

// description card
.cardPhrase{
  color: $light-blue;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 24px;
}

// Eth price and remaining days
.cardStats{
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 0.75px solid $light-blue;
}

// Eth price
.cardprice{
  color: $cyaan;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

// Eth remaining days
.cardTimer{
  color: $light-blue;
  font-size: 20px;
}

// Container of image of creator 
.creatorContainer{
  margin-top: 16px;
  align-items: center;

  .creatorImage{
// image of creator
    img{
      border-radius: 16px;
      width: 33px;
      border:  solid 1px white;
      margin: 5px 16px 0px 0px;
    }

  }

// footer phrase
  .creatorText{
    color: $light-blue;
    margin-right: 4PX;
  }

  // footer name
  .creatorName{
    color: white;
  }

}

.ethIcon{
  padding: 2px 5px;
}

.cardprice{
  font-weight: 400;
  font-size: 18px;
}

.clockIcon{

  img{
    height: 22px;
    margin: 3px 5px;
  }

}
.overlay{
  position: fixed;
  //display: none;
  width: 100%;
  height: 100%;
  background-color:($cyaan,05);
}